body {
  background: #FAFAFA;
}
.block-photo {
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
}
.padding-bottom-20p {
  padding-bottom: 20px;
}
